
body{
    color: black;
    widows: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#heading{
position: relative;

}

.body-background{
    background-color: black;
}

#div-heading{
    background-image:url('../Images/forest-931706_1920.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 768px;
    position: relative;
}

#h1-heading{
    padding-top: 15rem;
    margin-left: 20%;
    margin-right: 21%;
    position: relative;
    color:white;
    font-family:calibri;
    font-weight:900 ;
    font-size: 6rem;
}

#h2-heading{
    margin-left: 37%;
    margin-right: 21%;
    position: absolute;
    color:white;
    font-family: calibri;
    font-weight:200;
    font-size:2rem;
}


#background-image{
    position: absolute;
    width: 100%;

}


