
body{
    background-color:white;
    font-family: sans-serif;
    width: 100%;
    font-family: 'Franklin Gothic light', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
}

/*
i {
    color: rgb(199, 199, 199);
    font-size: 2em;
    margin-left: 10%;
    font-family:Montserrat;
    box-shadow: 0px 5px rgba(75, 74, 74, 0.123);
    box-sizing: border-box;

}

.icon{
    border-radius: 7%;
    border-color: gray;
    border-width: 2px;
    border-style: solid;
    padding:20px;
}

.icon-name{

    font-family: Monstserrat;

}

*/

.icollpase{
    margin-left:30%;
    font-size:1.5rem;
    text-align:center;
    height: 6rem;
    width: 22rem;
    margin-right: 10px;
}

i{

    color: rgb(94, 93, 93);
    font-size: 10rem;
}

p{
margin-left: .2%;
margin-right: .2%;
}

.icon-name{
    font-family:sans-serif;
    font-weight: 200;
}

h2{
    font-weight: 500;
    color: #464646;
    font-size: 3rem;
}



#heading{
position: relative;

}


#div-heading{
    background-color:#05dfd7;
   /* background-image:url('../Images/rocket-launch-693215.jpg');*/
    background-repeat: no-repeat;
    width: 105%;
    height:768px;
    background-size: cover;
}

.div-heading{
    padding-top: 20%;
    padding-bottom: 10%;
    padding-left: 10%;
  
}
#h1-heading{
    

    color:#ffffff;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 3rem;
}

#contact-me{
    font-size: 2rem;
    color: azure;
}

#href{
    color: white;
    font-size: 2rem;
    padding-left: 5px;

}


.personal-image{
height: 300px;

border-radius: 100%;
margin-top: 30%;
margin-left: 20%;

}



#background-image{
    position: absolute;
    width: 100%;
}

.box{
    padding: 0, 20%;
    height: 500px;
    width: 105%;

    
}

.box-image{
    background-color:#f35588;
    color: honeydew;
    width: 50%;
}

.icon{
    color: honeydew;
    margin-bottom: 2rem;
    padding-top: 20%;
    
  
}
.box-text{
    background-color:#ffce8e;
    color:grey;
    font-size:1.2rem; 
    padding-top:5%;
}

.text-description{
    padding: 10%;

}

.even-image-box{
    background-color: #1f6d00;
}

.accordion{
    padding-top: 3%;
    width: 105%;
    margin-bottom: 5%;

}

.card{
    margin: 0% 5%;
    background-color: #05dfd7;
    border-color: gray;
    border-width: 2px;
    
}

.card-body{
    background-color: white;
    font-size: 1.5rem;
}



.card-info{
    color: darkgray;
    font-size:2rem;
}

li{
    color:#464646;
 
}

.button-info{
    color: #464646;
    font-size: 2rem;
}

.feature-box{
    font-size: 2rem;
    margin-top: 10px;
}

.featurei{
    font-size: 4rem;
    padding-top: 40px;
    color: rgb(255, 255, 255);
}

#education-section{
    background-color: #f35588;
    padding-top:5%;
    margin: 0;
}

.ed-heading{
    color: white;
}

.education{
    font-size: 2rem;
    padding: 20px;
    color: #fff6f6;
}

#footer{
    background-color: #464646;
    color: rgb(255, 255, 255);
    width: 100%;
    padding:3%;
}

.footer-info{
    padding: 0px;
    font-size: 2rem;
}
